a,
button {
  line-height: inherit;
  text-transform: inherit;
  color: inherit;

  text-decoration: none;
  // text-decoration: underline;
  // text-decoration-style: dotted;
  // text-decoration-thickness: 1px;
  // text-underline-offset: 0.2em;

  cursor: pointer;
}
/*
a:hover,
a:focus,
button:hover,
button:focus {
  text-decoration: none;
}
*/
button {
  /* display: inline; */
  border: unset;
  padding: unset;
  background: unset;
}
