@keyframes bg-anim {
  100% {
    background-position: 200% center;
  }
}

/*
.x-rainbow-text {
  animation: bg-anim 3s linear infinite;
  background: linear-gradient(
    90deg,
    var(--eiv-pink) 0%,
    var(--eiv-purple) 25%,
    var(--eiv-cyan) 50%,
    var(--eiv-purple) 75%,
    var(--eiv-pink) 100%
  );
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
*/

.gradientz {
  /* background-blend-mode: screen; */
  /* background: radial-gradient(circle at -10% -10%, #150505 0%, transparent 50%),
    radial-gradient(circle at 110% 10%, #041404 0%, transparent 50%),
    radial-gradient(circle at 50% 120%, #150505 0%, transparent 50%),
    radial-gradient(circle at 20% 30%, #0a0a0a 0%, transparent 40%),
    radial-gradient(circle at 70% 20%, #0d0d0d 0%, transparent 50%),
    radial-gradient(circle at 50% 60%, #0f0f0f 0%, transparent 60%),
    radial-gradient(circle at 80% 80%, #0b0b0b 0%, transparent 40%),
    radial-gradient(circle at 30% 70%, #0c0c0c 0%, transparent 50%),
    radial-gradient(circle at 0% 50%, #021202 0%, transparent 40%),
    radial-gradient(circle at 100% 60%, #030313 0%, transparent 45%),
    radial-gradient(circle at 60% 0%, #140404 0%, transparent 40%),
    radial-gradient(circle at 40% 100%, #120212 0%, transparent 45%), #000; */
  background: radial-gradient(circle at -10% -10%, #110000 0%, transparent 50%),
    radial-gradient(circle at 110% 10%, #001100 0%, transparent 50%),
    radial-gradient(circle at 50% 120%, #110000 0%, transparent 50%),
    radial-gradient(circle at 20% 30%, #111100 0%, transparent 40%),
    radial-gradient(circle at 70% 20%, #001111 0%, transparent 50%),
    radial-gradient(circle at 50% 60%, #110011 0%, transparent 60%),
    radial-gradient(circle at 80% 80%, #110000 0%, transparent 40%),
    radial-gradient(circle at 30% 70%, #001100 0%, transparent 50%),
    radial-gradient(circle at 0% 50%, #000011 0%, transparent 40%),
    radial-gradient(circle at 100% 60%, #111100 0%, transparent 45%),
    radial-gradient(circle at 60% 0%, #001111 0%, transparent 40%),
    radial-gradient(circle at 40% 100%, #110011 0%, transparent 45%), #000;
  background-attachment: fixed !important;
}

.faded {
  opacity: 0.75;
  transition: opacity var(--fx_duration_1_2) linear;
}
.faded:hover,
.faded:focus,
.faded:active {
  opacity: 1;
}

.fx_outline--padding {
  padding: 0.25em 0.5em;
}

.fx_outline {
  position: relative;
  text-decoration: none;
  @extend .fx_outline--padding;
}
.fx_outline::before,
.fx_outline::after {
  content: " ";
  position: absolute;
  opacity: 0;

  width: 0;
  height: 0;

  border: 0 solid currentColor;

  --duration: var(--fx_duration);
  --duration: 0.5s;
  transition: opacity var(--duration) linear, width var(--duration) ease-out,
    height var(--duration) ease-out;
}

/*
.fx_outline--corners::before,
.fx_outline--corners::after {
  // width: 10%;
  // height: 15%;
  width: 4px;
  height: 4px;
  opacity: 0.5;
}
.fx_outline--corners:hover::before,
.fx_outline--corners:hover::after,
.fx_outline--corners:focus::before,
.fx_outline--corners:focus::after,
.fx_outline--corners:active::before,
.fx_outline--corners:active::after {
  opacity: 1;
}
*/

.fx_outline::before {
  top: 0;
  left: 0;
  border-width: 1px 0 0 1px;
}
.fx_outline::after {
  bottom: 0;
  right: 0;
  border-width: 0 1px 1px 0;
}
.fx_outline:hover::after,
.fx_outline:hover::before,
.fx_outline:focus::after,
.fx_outline:focus::before,
.fx_outline:active::after,
.fx_outline:active::before {
  width: 100%;
  height: 100%;
  opacity: 1;
}

.fx_underline {
  position: relative;
  text-decoration: none;
  white-space: nowrap; /* MAKE SUCH LINKS SHORT */
}
.fx_underline::after {
  content: " ";
  position: absolute;
  bottom: 0;
  height: 0;
  border-bottom: 1px solid currentColor;

  opacity: 0.25;
  right: 25%;
  width: 50%;

  --duration: var(--fx_duration);
  transition: opacity var(--duration) linear, right var(--duration) ease-out,
    width var(--duration) ease-out;
}
.fx_underline:hover::after,
.fx_underline:focus::after,
.fx_underline:active::after {
  opacity: 1;
  right: 0;
  width: 100%;
}

.fx_zoom_in {
  transition: transform var(--fx_duration_1_2) linear;
}
.fx_zoom_in:hover,
.fx_zoom_in:focus,
.fx_zoom_in:active {
  transform: scale(1.05);
}
